body
{
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: end;
    height: 100vm;
}
footer
{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}
a
{
    text-decoration: none;
    display: flex;
    border: 
}
