
header
{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 20px 30px;

}
.middle
{
    display: flex;
    gap: 1.5rem;
}
a
{
    text-decoration: none;
}